</div>
</div>
</div>
</div>
</div>
<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{/js/waves.js}"></script>
<script th:src="@{/js/sidebarmenu.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
<script th:src="@{/extra-libs/multicheck/jquery.multicheck.js}"></script>
<script th:src="@{/extra-libs/DataTables/datatables.min.js}"></script>
<script>
    $("#zero_config").DataTable();
</script>
</body>
</html>
